{% extends 'base.html' %}

{% block content %}

<div class="page-heading header-text">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1>Get loan in 3 easy steps</h1>
            <span>Tools such as a profit simulator and tax calculator show the value of your stock options and exercise cost. The brochure must grab a viewer’s attention and hold it long enough to deliver the pertinent information.</span>
            <a href="about.html" class="filled-button">Know more</a>
          </div>
        </div>
      </div>
</div>


{% endblock %}